# ==========================================
# ENVIRONMENT VARIABLES
# ==========================================

.env
.env.*
!.env.example


# ==========================================
# NODE
# ==========================================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# ==========================================
# GMAIL / OAUTH CREDENTIALS
# ==========================================

credentials/
token.json
credentials.json


# ==========================================
# MAC
# ==========================================

.DS_Store
**/.DS_Store


# ==========================================
# LOGS
# ==========================================

*.log


# ==========================================
# BUILD
# ==========================================

dist/
build/


# ==========================================
# IDE
# ==========================================

.vscode/
.idea/WorldTrip_Gmail_Contacts.csv
